<h1>Remerciements</h1>

<p>Cette page est dédiée à une personne en particulier qui se reconnaîtrera:
<br>Je tenais à créer cette page pour vous remercier de ce que vous faites pour moi. Grâce à vous, je commence à maîtriser Ruby on Rails ainsi que Heroku alors que ces outils m'étaient totalement inconnu il y a encore quelques jours et ce n'est que le début... MERCI ! </p>

<p><a href="/index">Retour à la page initiale</a></p>
