<h1>Acknowledgements</h1>


<body>

<p>This page is dedicated to a particular individual who will recognize himself:
<br>I wanted to create this webpage to thank you for what you do for me. Thanks to you, I am starting to know how Ruby on Rails and Heroku work while these tools were totally unknown to me few days ago. Moreover this is just the beginning... so just THANK YOU!  </p>


<p><a href="/index">Back to the home page</a></p>

</body>
