<h1>Welcome to the homepage of my project</h1>

<p> This page allows you to calculate the sum of the numbers you enter. To do this:
<br>- Enter a number in the space provided for
<br>- Press "Add this number to the list"
<br>- Once your list is complete, press "Calculate the sum of the numbers in the list"
<br>The result will appear at the bottom of this list</p>



<p>Press "Reset" to clean all numbers from the list</p>


<%= form_tag "/stage", method: "delete" do %>
  <input type="submit" value="Reset" />
<% end %>


<% Number.all.each do |nb| %>
<p><%= nb.value %></p>
<% end %>

<p>
<%= form_tag "/stage", method: "post" do %>
  <input type="float" name="value" />
  <input type="submit" value="Add this number to the list" />
<% end %>

<p>
</p>
<p>
</p>

<%= form_tag "/stage", method: "patch" do %>
  <input type="submit" value="Calculate the sum of the numbers in the list" />
<% end %>

<p>
</p>

<h2><a href="/acknowledgements">Acknowledgements</a></h2>

