<h1>Bienvenue sur la page initiale de mon projet</h1>

<p> Cette page permet de calculer la somme des nombres que vous rentrerez. Pour ce faire:
<br>- Rentrer un nombre dans l'endroit prévu pour
<br>- Appuyer sur "Ajouter ce nombre à la liste"
<br>- Une fois votre liste complète, appuyer sur "Calculer la somme des nombres de la liste"
<br>Le résultat apparaitra en bas de cette liste </p>


<p>Appuyer sur "initialiser" pour effacer tous les nombres de la liste</p>

